data
.snakemake

# bcbio stuff
scripts/bcbio/2017-08-28_cancer-normal/work/*
!scripts/bcbio/2017-08-28_cancer-normal/work/run_bcbio.sh
scripts/bcbio/2017-09-11_cancer-normal/work/*
!scripts/bcbio/2017-09-11_cancer-normal/work/run_bcbio.sh
scripts/bcbio/2017-09-19_cancer-normal/work/*
!scripts/bcbio/2017-09-19_cancer-normal/work/run_bcbio.sh
scripts/bcbio/2017-09-25_cancer-normal/work/*
!scripts/bcbio/2017-09-25_cancer-normal/work/run_bcbio.sh
final/

__pycache__
.DS_Store
.idea
somatic_filtering/panel_of_normals/hg38ToHg19.over.chain.gz
